/**/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*body*/
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*header*/
header{
    background: black;
    color: white;
    padding: 20px;
    text-align: center;
}
/*jumbotron*/
.jumbotron{
    align-items: center;
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    height: 80vh;
    text-align: center;
}
img{
    width: 80%;
}
/*jumbotronboton*/
.jumbotronboton{
    background: white;
    border-radius: 5px;
    color: black;
    padding: 5px 15px;
    text-decoration: none;
    
}
/*services*/
.services{
    padding: 50px;
}
/*servicesGrid*/
.servicesGrid{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3,1fr);
}
/*servicescard*/
.servicecard{
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.267);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    width: 100%;
}
.servicecard > img{
    width: 100%;
}
/*title*/
.title{
    padding-bottom: 70px;
}
/*cardButtom*/
.cardButtom{
    background: #8E2DE2;
    border-radius: 10px;
    color: white;
    padding: 5px;
    text-decoration: none;
}
/*list*/
.list{
    text-align: left;
        /*(top,right,bottom,left)*/
    padding: 15px 0 15px 90px;
}
/*aditionals*/
.aditionals{
    display: flex;
    width: 100%;
}
/*aditionalContent*/
.aditionalContent{
    width: 100%;
}

.aditionalContent > img {
    width: 100%;
}
/*aditionalText*/
.aditionalText{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    padding: 30px;
}
.aditionalText > a{
    text-align: center;
}
.aditionalText > p{
    line-height: 30px;
}
/*footer*/
footer{
    background: black;
    color: white;
    padding: 20px;
    text-align: center;
}

/*----------------------*/
/*Responsive desing con media querys*/
@media (min-width: 240px) and (max-width: 990px){
    /*services*/
    .services{
        padding: 70px 20px;
    }
    /*servicesGrid*/
    .servicesGrid{
        grid-template-columns: 1fr;
    }
    /*aditionals*/
    .aditionals{

        flex-direction: column;
    }
}
